<template>
  <div class="container">
    <h1>Download</h1>
    <div class="row">
      <div class="col-sm">
        <p><a href="/files/TSEEN_eutheria.tsv" download>TSEEN eutheria</a></p>
        <p><a href="/files/TSEEN_human.tsv" download>TSEEN human</a></p>
        <p><a href="/files/TSEEN_mammalia.tsv" download>TSEEN mammalia</a></p>
        <p><a href="/files/TSEEN_primate.tsv" download>TSEEN primate</a></p>
        <p><a href="/files/TSEEN_theria.tsv" download>TSEEN theria</a></p>
      </div>
    </div>
  </div>
</template>
