<template>
  <div class="container" v-if="gene">
    <h1>{{ gene.Ensembl_v }}</h1>
    <div class="row">
      <div class="col-sm">
        <p>Name: {{gene.Genename}}</p>
        <p>Uniprot Id: <a :href="`https://www.uniprot.org/uniprot/${gene.Uniprot}`" target="_blank">{{gene.Uniprot}}</a></p>
        <p>Type: {{gene.Gene_type}}</p>
        <p>Origin: <span class="badge bg-primary">{{gene.Geneorigin}}</span></p>
        <p>Chromosome: {{gene.Chromosome_name}}</p>
        <p>Age: {{gene.Geneage}}</p>
      </div>
      <div class="col-sm">
        <p>Description:</p>
        <p>{{gene.Description}}</p>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import {ref} from 'vue';
export default {
  props: {
    id: String
  },
  setup(props) {
    const gene = ref(null);
    const _getGene = (geneId) => {
      return axios.get(`/api/geneInfo`, {
        params: {
          geneId: geneId
        }
      });
    };

    _getGene(props.id).then(result => {
      gene.value = result.data;
    });

    return {
      gene
    }
  }
}
</script>
