<template>
  <div class="container">

    <div class="row">
      <div class="col-sm">
        <div class="input-group mb-3">
          <span class="input-group-text">ENSG</span>
          <input type="text" class="form-control" placeholder="gene id" aria-label="gene number" v-model="search">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mb-3">
        <Multiselect
            v-model="originIn"
            :options="meta.geneOrigins"
            mode="tags"
            placeholder="Genes origins include"
        />
      </div>
      <div class="col-sm mb-3">
        <Multiselect
            v-model="originOut"
            :options="meta.geneOrigins"
            mode="tags"
            placeholder="Genes origins exclude"
        />

      </div>
    </div>
    <div class="row">
      <div class="col-sm mb-3">
        <Multiselect
            v-model="tumorTypeIn"
            :options="meta.tumorTypes"
            mode="tags"
            placeholder="Tumor types include"
        />
      </div>
      <div class="col-sm mb-3">
        <Multiselect
            v-model="tumorTypeOut"
            :options="meta.tumorTypes"
            mode="tags"
            placeholder="Tumor types exclude"
        />

      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="input-group mb-3">
          <span class="input-group-text">fpkm >=</span>
          <input type="number" class="form-control" placeholder="fpkm" aria-label="fpkm" step="0.1" v-model="fpkmGte">
          <span class="input-group-text">fpkm &lt;=</span>
          <input type="number" class="form-control" placeholder="fpkm" aria-label="fpkm" step="0.1" v-model="fpkmLte">
        </div>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-success" @click="searchGenes">Search</button>
      </div>
    </div>

  </div>

  <table class="table" v-if="searchResults.length && !isLoading">
    <thead>
    <tr>
      <th scope="col">GENE</th>
      <th scope="col">Tumor type</th>
      <th scope="col">Study abbreviation</th>
      <th scope="col">fpkm count</th>
      <th scope="col">fpkm min</th>
      <th scope="col">fpkm max</th>
      <th scope="col">fpkm avg</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(res, i) of searchResults" :key="i">
      <th scope="row"><router-link :to="`/gene/${res.Genename}`">{{ res.Genename }}</router-link></th>
      <td>{{ res.TumorType }}</td>
      <td>{{ abbr[res.TumorType] }}</td>
      <td>{{ res.total }}</td>
      <td>{{ res.min }}</td>
      <td>{{ res.max }}</td>
      <td>{{ res.avg }}</td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" v-if="searchResults.length && hasMore">
    <ul class="pagination">
      <li class="page-item"><span style="cursor: pointer" class="page-link" @click="loadMore">More</span></li>
    </ul>
  </nav>
  <div class="container" v-if="isLoading">
    <div class="row">
      <div class="col-sm" style="text-align: center;">
        <img style="width: 100px;" src="/img/loading.gif">
      </div>
    </div>
  </div>
</template>

<script>

import {ref} from "vue";
import axios from 'axios';
import Multiselect from '@vueform/multiselect'

export default {
  name: 'App',
  components: {
    Multiselect,
  },
  setup() {
    const abbr = {
'laml':	'Acute Myeloid Leukemia',
'acc':	'Adrenocortical carcinoma',
'blca':	'Bladder Urothelial Carcinoma',
'lgg':	'Brain Lower Grade Glioma',
'brca':	'Breast invasive carcinoma',
'cesc':	'Cervical squamous cell carcinoma and endocervical adenocarcinoma',
'chol':	'Cholangiocarcinoma',
'lcml':	'Chronic Myelogenous Leukemia',
'coad':	'Colon adenocarcinoma',
'cntl':	'Controls',
'esca':	'Esophageal carcinoma',
'gbm':	'Glioblastoma multiforme',
'hnsc':	'Head and Neck squamous cell carcinoma',
'kich':	'Kidney Chromophobe',
'kirc':	'Kidney renal clear cell carcinoma',
'kirc2':	'Kidney renal clear cell carcinoma',
'kirp':	'Kidney renal papillary cell carcinoma',
'lihc':	'Liver hepatocellular carcinoma',
'luad':	'Lung adenocarcinoma',
'lusc':	'Lung squamous cell carcinoma',
'dlbc':	'Lymphoid Neoplasm Diffuse Large B-cell Lymphoma',
'meso':	'Mesothelioma',
'misc':	'Miscellaneous',
'ov':	'Ovarian serous cystadenocarcinoma',
'paad':	'Pancreatic adenocarcinoma',
'pcpg':	'Pheochromocytoma and Paraganglioma',
'prad':	'Prostate adenocarcinoma',
'read':	'Rectum adenocarcinoma',
'read1':	'Rectum adenocarcinoma',
'sarc':	'Sarcoma',
'skcm':	'Skin Cutaneous Melanoma',
'stad':	'Stomach adenocarcinoma',
'tgct':	'Testicular Germ Cell Tumors',
'thym':	'Thymoma',
'thca':	'Thyroid carcinoma',
'ucs':	'Uterine Carcinosarcoma',
'ucec':	'Uterine Corpus Endometrial Carcinoma',
'uvm':	'Uveal Melanoma',
    };
    let isLoading = ref(false);
    let hasMore = ref(false);
    let offset = 0;
    const searchResults = ref([]);
    const search = ref(null);
    const fpkmGte = ref(null);
    const fpkmLte = ref(null);
    const originIn = ref(null);
    const originOut = ref(null);
    const tumorTypeIn = ref(null);
    const tumorTypeOut = ref(null);
    const meta = ref({
      tumorTypes: [],
      geneOrigins: [],
    });

    axios.get(`/api/meta`).then(result => {
      meta.value = result.data;
    })

    const loadMore = () => {
      offset++;
      _searchGenes().then((result) => {
        hasMore.value = !(result.data.length < 20);
        searchResults.value.push(...result.data);
      });
    }

    const _searchGenes = () => {
      return axios.get(`/api/agg`, {
        params: {
          fpkm: fpkmGte.value,
          fpkmLess: fpkmLte.value,
          search: search.value,
          originIn: originIn.value,
          originOut: originOut.value,
          tumorTypeIn: tumorTypeIn.value,
          tumorTypeOut: tumorTypeOut.value,
          offset: offset,
        }
      });
    };

    const searchGenes = () => {
      isLoading.value = true;
      searchResults.value = [];
      _searchGenes().then((result) => {
        hasMore.value = !(result.data.length < 20);
        searchResults.value.push(...result.data);
        isLoading.value = false;
      });
    };


    return {
      loadMore,
      searchGenes,
      isLoading,
      meta,
      searchResults,
      fpkmGte,
      fpkmLte,
      search,
      originIn,
      originOut,
      tumorTypeIn,
      tumorTypeOut,
      hasMore,
      abbr
    }
  }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
