<template>
  <div class="container">
    <h1>TSEEN genes database</h1>
    <div class="row">
      <div class="col-sm">
        <p>According to the hypothesis of the evolutionary role of tumors, evolutionarily new genes should be specifically expressed in tumors [A.P. Kozlov, 2014]. Indeed, TSEEN (tumor-specific evolutionarily novel) genes were described by us [Kozlov, 2016]. 1015 genes were identified by the Protein Historian program as an evolutionary novel for humans, that is, originated in humans, and 1392 as evolutionarily young, that is, originated in primates. As a result of analyzing the GTEx database data, we have shown that out of 1015 evolutionarily new human genes and 1392 evolutionarily young human genes, 309 genes and 592 genes are not expressed in any of 33 normal tissues, respectively. The expression level of 100 evolutionarily new human genes originated in humans and 234 evolutionarily young human genes originated in primates is significant in most tumors, according to transcriptome data from the TCGA database. Samples of 100 evolutionarily novel human genes and 234 evolutionarily young human genes were selected, which are present only in the genomes of humans and primates, not expressed in normal tissues, and expressed in one or more tumors in 10-100% of patients.</p>
        <p>For Theria and Eutheria, the similar distribution was as follows: among 365 and 896 genes novel for these taxons, 71 and 124 genes, respectively, are not expressed in normal human tissues, but at the same time have tumor-specific expression pattern (inclusion criteria of expression –  fpkm >2  in 10-100% of patients). There are also 898 genes, originated in Mammalia and not expressed in normal human tissues. 119 of them are expressed in at least 1 or more tumors in 10-100% of patients.</p>
        <p>The TSEEN genes database allows [us] to select genes according to their evolutionary age and expression pattern in normal and tumor tissues. We can retrieve gene(s), which are expressed tumor-specifically and are evolutionarily young or novel.</p>
        <p>As far as TSEEN genes have many immunogenic epitopes they could be promising targets for the development of universal prophylactic and therapeutic antitumor vaccines, as well as universal markers for cancer laboratory diagnostics.</p>
      </div>
    </div>
  </div>
</template>
