<template>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Tseen DB</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <router-link :to="`/download`" class="nav-link">Download</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="`/overview`" class="nav-link">Overview</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="`/abbreviations`" class="nav-link">Abbreviations</router-link>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <main class="container-fluid">
    <router-view></router-view>
  </main>
</template>


